<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.softsquared.template.kotlin">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 카메라 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.softsquared.template.kotlin.config.ApplicationClass"
        android:allowBackup="false"
        android:icon="@drawable/famo_app_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">

        <activity
            android:name="com.softsquared.template.kotlin.src.auth.agree.AgreeActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- MyPageEdit -->
        <activity
            android:name="com.softsquared.template.kotlin.src.mypageedit.MyPageEditActivity"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- 일정검색 -->
        <activity
            android:name="com.softsquared.template.kotlin.src.searchhistories.ScheduleSearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.softsquared.template.kotlin.src.wholeschedule.WholeScheduleActivity"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- MyPage -->
        <activity
            android:name="com.softsquared.template.kotlin.src.mypage.MyPageActivity"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- CategoryEdit -->
        <activity
            android:name="com.softsquared.template.kotlin.src.main.category.CategoryEditActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.softsquared.template.kotlin.src.auth.kakaologin.KakaoLoginNumberActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.softsquared.template.kotlin.src.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.softsquared.template.kotlin.src.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <!-- Auth -->
        <!-- Information -->
        <activity
            android:name="com.softsquared.template.kotlin.src.auth.information.InformationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- Login_Information -->
        <activity
            android:name="com.softsquared.template.kotlin.src.auth.loginInformation.LoginInformation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- Login -->
        <activity
            android:name="com.softsquared.template.kotlin.src.auth.login.LoginActivity"
            android:parentActivityName="com.softsquared.template.kotlin.src.auth.loginInformation.LoginInformation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- SignUp -->
        <activity
            android:name="com.softsquared.template.kotlin.src.auth.signup.SignUpActivity"
            android:parentActivityName="com.softsquared.template.kotlin.src.auth.loginInformation.LoginInformation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- 아이디/비밀번호 찾기 -->
        <activity
            android:name="com.softsquared.template.kotlin.src.auth.find.FindUserActivity"
            android:parentActivityName="com.softsquared.template.kotlin.src.auth.loginInformation.LoginInformation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- 아이디/비밀번호 찾기 결과 -->
        <activity
            android:name="com.softsquared.template.kotlin.src.auth.findresult.FindResultActivity"
            android:parentActivityName="com.softsquared.template.kotlin.src.auth.find.FindUserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- 비밀번호 재설정 -->
        <activity
            android:name="com.softsquared.template.kotlin.src.auth.setnewpassword.SetNewPasswordActivity"
            android:parentActivityName="com.softsquared.template.kotlin.src.auth.find.FindUserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- 카카오 로그인 -->
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth“ -->
                <data
                    android:host="oauth"
                    android:scheme="kakao850f56e3e5ba5613faf68a8aaa4b95bc" />
            </intent-filter>
        </activity> <!-- 카메라 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.softsquared.template.kotlin.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>